<nav class="navbar bg-white p-2 flex items-baseline">

  <div class=" flex items-center">
    <!-- Accesos -->
    <img src="/assets/logoMicrosoft.png" alt="Logo" class="h-14 w-auto mr-4 ml-14">
    <a href="#" class="text-gray-800 hover:bg-gray-400 px-2 py-2 rounded">Microsoft 365</a>
    <a href="#" class="text-gray-800 hover:bg-gray-400 px-2 py-2 rounded">Teams</a>
    <a href="#" class="text-gray-800 hover:bg-gray-400 px-2 py-2 rounded">Windows</a>
    <a href="#" class="text-gray-800 hover:bg-gray-400 px-2 py-2 rounded">Surface </a>
    <a href="#" class="text-gray-800 hover:bg-gray-400 px-2 py-2 rounded">Xbox </a>
    <a href="#" class="text-gray-800 hover:bg-gray-400 px-2 py-2 rounded">Deals </a>
    <a href="#" class="text-gray-800 hover:bg-gray-400 px-2 py-2 rounded">Small Business </a>
    <a href="#" class="text-gray-800 hover:bg-gray-400 px-2 py-2 rounded">Support </a>
    <div class="flex items-center ml-52">
       <a href="#" class="text-gray-800 hover:bg-gray-400 px-2 py-2 rounded">All Microsoft </a>
    <img src="/assets/searchIcon.png" alt="Persona" class="h-8 w-8 rounded-full ml-4">
    <img src="/assets/carShoppingIcon.png" alt="Persona" class="h-8 w-8 rounded-full ml-4">
    <img src="/assets/personLoginAdd.png" alt="Persona" class="h-8 w-8 rounded-full ml-4">
    </div>

  </div>
</nav>
