
<div class="w-screen h-screen  bg-white relative">
  <app-navbar></app-navbar>
  <div class="w-full h-auto">
    <img class="absolute w-72 left-0 ml-48 bottom-12" src="/assets/hombreBienvenida.png" alt="bg left">
    <img class="absolute w-52 right-0 mr-56 bottom-12" src="/assets/mujerBienvenida.png" alt="bg left">
</div>
<div class="m-auto  w-4/12">
  <header class="pt-6 pb-2 flex justify-center">
    <img class="w-28 mt-10 " src="/assets/logo.png" alt="logo">
  </header>
  <div class="bg-white">
      <h1 class="text-5xl text-center pt-4 pb-10">Microsoft To Do</h1>
        <h2 class="text-xl mx-20 text-center">To Do te ayuda a concentrarte, ya sea para trabajar o para jugar.</h2>
  </div>
  <div class="flex justify-center pt-10">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="redireccionar()">Empezar</button>
  </div>
  <div class="flex justify-center pt-2">
    <h1><a href="#" class="text-blue-500 underline">Más Información</a></h1>
  </div>
</div>
</div>
